.iframe-bg {
	position: relative; 
	display: flex; 
	justify-content: center; 
	margin-top: 5rem;
	height: 600px;
}

iframe {
	position: absolute;
}

.iframe-bg > .container {
	margin-top: 200px;
}

.download-card {
	padding: 20px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.game-box {
	grid-column: span 1;
	background-color: #F5F5F5;
	padding: 15px;
}

.game-img {
	width: 100%;
	transition: all 0.1s linear;
}

.game-img:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.download-card {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0;
	margin: 0;
}

.section-container {
	padding-bottom: 5rem;
}